.header__layout{
    display: flex;
    justify-content: flex-start;
    background-color: #ffffff;
    height: 10.0rem;
    font-size: 2rem;
    padding: 3rem 15rem  1rem 15rem;
    box-sizing: border-box;
    box-shadow: 0 2px 3px rgba(0,0,0,0.15);
  }
  
  .header__end{
      margin-left: 60%;
      display: flex;
  }
  
  .header__item{
      margin: 0rem 10rem;
  }

  @media only screen and (max-width: 600px) {
    .header__layout {
        display: flex;
        justify-content: space-around;
        padding-top: 4rem;
    }
    .header__end{
        margin-left: 0rem;
    }
    .header__item{
        margin: 0rem 2rem;
    }
  }

  @media only screen and (max-width: 768px) {
    .header__layout {
        display: flex;
        justify-content: space-around;
        padding-top: 4rem;
    }
    .header__end{
        margin-left: 0rem;
    }
    .header__item{
        margin: 0rem 4rem;
    }
  }
  